<tr>
	<td>
		{{ index }}
	</td>
	<td>
		<img
			src="{{ set_song.song.artwork }}"
		>
	</td>
	<td>
		<b>
			{{ set_song.song.title }}
		</b>
		<br/>
		{{ set_song.song.artists }}
		<br/>
		{{ set_song.song.released }}
		&emsp;
		{{ set_song.song.album }}
	</td>
	<td>
		<button
			id="played_set_song_{{ set_song.id }}-button"
			onclick="play_again(this, {{ set_song.id }}, {{ set_song.start }}, {{ set_song.duration }})"
		>
			Play Again
		</button>
	</td>
</tr>
