<!DOCTYPE html>
<html>
	<title>
		Playlists
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt; Playlists
		</header>

		<h1>
			Playlists
		</h1>
		<a
			href="/playlists/new"
		>
			+ New
		</a>
		<table>
			{% for playlist in playlists %}
				<tr>
					<td>
						<a
							href="/playlists/{{ playlist.id }}"
						>
							{{ playlist.title }}
						</a>
					</td>
					<td>
						<a
							href="https://open.spotify.com/playlist/{{ playlist.id }}"
							target="_blank"
						>
							Open In Spotify
						</a>
					</td>
					<td>
						<a
							href="/playlists/{{ playlist.id }}/sets/new"
						>
							+ New Set
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
