<!DOCTYPE html>
<html>
	<head>
		<title>Trinkgo</title>
	</head>
	<body>
		<h1>Spotify Web Playback SDK Quick Start</h1>
		<button
			onclick="play(this);"
		>
			Play
		</button>
		<script src="https://sdk.scdn.co/spotify-player.js"></script>
		<!-- <script src="https://open.spotify.com/embed/iframe-api/v1" async></script> -->
		<div id="embed-iframe"></div>


<script>
	var token = "{{ access_token }}";
	console.log(token);

	let is_playing = false;
	let is_active = false;
	let track = '';


	var player = "player-test";
	var player_device_id = "player_device_id-test";


	function send_device_id(device_id)
	{
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", `/api/device_id`, false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send(`{"device_id": "${device_id}"}`);

		if(xmlhttp.status != 204)
		{
			return alert(`${xmlhttp.status}`+xmlhttp.responseText);
		}
	}


	function play(button)
	{
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("GET", `/api/play`, false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send();

		if(xmlhttp.status != 204)
		{
			return alert(`${xmlhttp.status}`+xmlhttp.responseText);
		}

		button.innerHTML = "Pause";
		button.onclick = function() { pause(button) };
	}


	function pause(button)
	{
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("GET", `/api/pause`, false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send();

		if(xmlhttp.status != 204)
		{
			return alert(`${xmlhttp.status}`+xmlhttp.responseText);
		}

		button.innerHTML = "Play";
		button.onclick = function() { play(button) };
	}


	function onSpotifyWebPlaybackSDKReady()
	{
		player = new window.Spotify.Player({
			name: 'trinkgo',
			getOAuthToken: cb => { cb(token); },
			volume: 0.5,
		});

		player.addListener('ready', ({ device_id }) => {
			send_device_id(device_id);
		});

		player.addListener('not_ready', ({ device_id }) => {
			alert('Device ID has gone offline', device_id);
		});

		player.connect();
	}

	window.onSpotifyWebPlaybackSDKReady = onSpotifyWebPlaybackSDKReady;


		// Ready
</script>

	</body>
</html>