<!DOCTYPE html>
<html>
	<head>
		<title>Trinkgo</title>
	</head>
	<body>
		<h1>Trinkgo</h1>
		<a href="/playlists">Playlists</a>
		<a href="/games">Games</a>
		<a href="/rounds">Rounds</a>
	</body>
</html>
