<!DOCTYPE html>
<html>
	<head>
		<title>Trinkgo</title>
	</head>
	<body>
		<h1>Trinkgo</h1>
		<script src="https://sdk.scdn.co/spotify-player.js"></script>
		<button
			id="previous-button"
			onclick="previous(this);"
			disabled
		>
			<<
		</button>
		<button
			id="play-button"
			onclick="play(this);"
			disabled
		>
			Play
		</button>
		<button
			id="next-button"
			onclick="next(this);"
			disabled
		>
			>>
		</button>
	</body>
</html>

<script>
	var token = "{{ access_token }}";


	var player = "player-test";
	var player_device_id = "player_device_id-test";


	function send_device_id(device_id)
	{
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", `/api/device_id`, false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send(`{"device_id": "${device_id}"}`);

		if(xmlhttp.status != 204)
		{
			return alert(`${xmlhttp.status}`+xmlhttp.responseText);
		}
	}


	function previous(button)
	{
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("GET", `/api/previous`, false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send();

		if(xmlhttp.status != 204)
		{
			return alert(`${xmlhttp.status}`+xmlhttp.responseText);
		}
	}


	function play(button)
	{
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("GET", `/api/play`, false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send();

		if(xmlhttp.status != 204)
		{
			return alert(`${xmlhttp.status}`+xmlhttp.responseText);
		}

		button.innerHTML = "Pause";
		button.onclick = function() { pause(button) };
	}


	function next(button)
	{
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("GET", `/api/next`, false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send();

		if(xmlhttp.status != 204)
		{
			return alert(`${xmlhttp.status}`+xmlhttp.responseText);
		}
	}


	function pause(button)
	{
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("GET", `/api/pause`, false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send();

		if(xmlhttp.status != 204)
		{
			return alert(`${xmlhttp.status}`+xmlhttp.responseText);
		}

		button.innerHTML = "Play";
		button.onclick = function() { play(button) };
	}


	function onSpotifyWebPlaybackSDKReady()
	{
		player = new window.Spotify.Player({
			name: 'trinkgo',
			getOAuthToken: cb => { cb(token); },
			volume: 0.5,
		});

		player.addListener('ready', ({ device_id }) => {
			send_device_id(device_id);
			document.getElementById("previous-button").disabled = false;
			document.getElementById("play-button").disabled = false;
			document.getElementById("next-button").disabled = false;
		});

		player.addListener('not_ready', ({ device_id }) => {
			alert('Device ID has gone offline', device_id);
		});

		player.connect();
	}

	window.onSpotifyWebPlaybackSDKReady = onSpotifyWebPlaybackSDKReady;


		// Ready
</script>
