


<script
	src="https://sdk.scdn.co/spotify-player.js"
>
</script>
<script>
	var PLAYER = null;

	class Player
	{
		constructor(player)
		{
			this.id = null;
			this.is_playing = null;
			this.is_ready = false;
			this.timer = null;

			this.player = new window.Spotify.Player(
				{
					name: 'trinkgo',
					getOAuthToken: cb => { cb("{{ access_token }}"); },
					volume: 0.5,
				}
			);
			// FROM: https://developer.spotify.com/documentation/web-playback-sdk/reference#spotifyplayeraddlistener
			//  AND: https://developer.spotify.com/documentation/web-playback-sdk/reference#webplaybackplayer-object
			this.player.addListener("ready", this.ready.bind(this));
			this.player.addListener("not_ready", this.not_ready.bind(this));
			this.player.addListener("player_state_changed", this.player_state_changed.bind(this));

			this.player.connect();
		}


		ready(web_playback_state)
		{
			this.id = web_playback_state.device_id;
			this.is_ready = true;
		}


		not_ready(web_playback_state)
		{
			this.is_ready = false;
			alert("Player has gone offline. Please try refreshing your browser.");
		}


		player_state_changed(web_playback_state)
		{
			let previous_is_playing = this.is_playing;
			this.is_playing = !web_playback_state.paused;

			// Skip if redundant.
			if(previous_is_playing === this.is_playing)
			{
				return;
			}

			if(this.is_playing && this.timer !== null)
			{
				this.timer.start();
			}
		}


		// —————————————————————————————————————————————————— API  —————————————————————————————————————————————————— //

		play_song(uri, start=null, timer=null)
		{
			if(this.timer !== null)
			{
				this.timer.cancel();
			}

			let xmlhttp = new XMLHttpRequest();
			xmlhttp.open("POST", `/api/play/song`, false);
			xmlhttp.setRequestHeader("Content-Type", "application/json");
			xmlhttp.send(JSON.stringify({player_id: this.id, uri: uri, start: start}));

			if(xmlhttp.status != 204)
			{
				return alert(`${xmlhttp.status}`+xmlhttp.responseText);
			}

			if(timer !== null)
			{
				this.timer = timer;
			}
		}


		pause()
		{
			if(this.timer !== null)
			{
				this.timer.cancel();
			}

			this.player.pause();
		}
	}


	class Timer
	{
		constructor(player, duration, action=null)
		{
			this.player = player;
			this.duration = duration;
			this.action = action;

			this.timeout = null;
		}


		start()
		{
			if(this.timeout !== null)
			{
				return alert("Timer already running");
			}

			// FROM: https://www.w3schools.com/jsref/met_win_settimeout.asp
			this.timeout = setTimeout(this.on_timeout.bind(this), this.duration);
		}


		cancel()
		{
			this.player.timer = null;
			if(this.timeout === null)
			{
				return;
			}

			// FROM: https://www.w3schools.com/jsref/met_win_cleartimeout.asp
			clearTimeout(this.timeout);
		}


		on_timeout()
		{
			this.player.timer = null;
			this.player.pause();

			if(this.action !== null)
			{
				this.action();
			}
		}
	}


	function onSpotifyWebPlaybackSDKReady()
	{
		PLAYER = new Player();
	}

	window.onSpotifyWebPlaybackSDKReady = onSpotifyWebPlaybackSDKReady;
</script>