<!DOCTYPE html>
<html>
	<title>
		Trinkgo
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt;
			<a
				href="/events"
			>
				Events
			</a>
			&gt;
			<a
				href="/events/{{ event.id }}"
			>
				{{ event.name }}
			</a>
			&gt;
			<a
				href="/events/{{ event.id }}/rounds"
			>
				Rounds
			</a>
			&gt; New
		</header>
		<h1>
			New Round
		</h1>

		<form
			method="POST"
		>
			<table>
				<tr>
					<td>
						Name
					</td>
					<td>
						<input
							name="round_name-input"
						/>
					</td>
				</tr>
				<tr>
					<td>
						Playlist Set
					</td>
					<td>
						<select
							name="playlist_set-select"
						>
							<option
								hidden
								selected
							></option>
							{% for playlist_set in playlist_sets %}
								<option
									value="{{ playlist_set.id }}"
								>
									{{ playlist_set.name }}
								</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Board Size
					</td>
					<td>
						Rows
						<input
							name="round_size_rows-input"
							type="number"
							min="1"
							value="5"
						/>
						Columns
						<input
							name="round_size_columns-input"
							type="number"
							min="1"
							value="5"
						/>
					</td>
				</tr>
				<tr>
					<td>
						Number Of Cards
					</td>
					<td>
						<input
							name="number_of_cards-input"
							type="number"
							min="0"
							value="0"
						/>
					</td>
				</tr>
			</table>

			<button>
				Create
			</button>
		</form>
	</body>
</html>
