<!DOCTYPE html>
<html>
	<title>
		{{ event.name }} Event
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt;
			<a
				href="/events"
			>
				Events
			</a>
			&gt; {{ event.name }}
		</header>

		<h1>
			{{ event.name }} ({{ event.date }})
		</h1>

		<h2>
			<a
				href="/events/{{ event.id }}/rounds"
			>
				Rounds
			</a>
		</h2>
		<table>
			<tr>
				<td>
					<a
						href="/events/{{ event.id }}/rounds/new"
					>
						+ New Round
					</a>
				</td>
			</tr>
			{% for event_round in event.rounds %}
				<tr>
					<td>
						<a
							href="/events/{{ event.id }}/rounds/{{ event_round.id }}"
						>
							{{ event_round.name }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
