<!DOCTYPE html>
<html>
	<title>
		{{ event.name }} Rounds
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt;
			<a
				href="/events"
			>
				Events
			</a>
			&gt;
			<a
				href="/events/{{ event.id }}"
			>
				{{ event.name }}
			</a>
			&gt; Rounds
		</header>

		<h1>
			{{ event.name }}'s Rounds
		</h1>

		<a
			href="/events/{{ event.id }}/rounds/new"
		>
			+ New Round
		</a>

		<h2>
			Rounds
		</h2>

		<table>
			<thead>
				<tr>
					<th>
						Round
					</th>
					<th>
						Playlist Set
					</th>
					<th>
					</th>
				</tr>
			</thead>

			<tbody>
				{% for round in event.rounds %}
					<tr>
						<td>
							<a
								href="/events/{{ event.id }}/rounds/{{ round.id }}"
							>
								{{ round.name }}
							</a>
						</td>
						<td>
							<a
								href="/playlists/{{ round.playlist_set.playlist.id }}/sets/{{ round.playlist_set.id }}"
							>
								{{ round.playlist_set.name }}
							</a>
						</td>
						<td>
							{% if round.ended is false %}
								<a
									href="/events/{{ round.event.id }}/rounds/{{ round.id }}/play"
								>
									<button>
										{% if round.start is none %}
											Start
										{% else %}
											Continue
										{% endif %}
									</button>
								</a>
							{% else %}
								Finished
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
