<!DOCTYPE html>
<html>
	<head>
		<title>Trinkgo</title>
	</head>
	<body>
		<h1>New Playlist</h1>
		<form
			method="POST"
		>
			Set Name
			<input
				id="set_name-input"
				name="set_name-input"
			/>
			<button>
				Create
			</button>
		</form>
	</body>
</html>
