<!DOCTYPE html>
<html>
	<title>
		Trinkgo
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt;
			<a
				href="/events"
			>
				Events
			</a>
			&gt;
		</header>
		<h1>
			New Event
		</h1>

		<form
			method="POST"
		>
			Name
			<input
				name="event_name-input"
			/>
			<br/>
			Date
			<input
				name="event_date-input"
				type="date"
				value="{{ date }}"
			/>
			<button>
				Create
			</button>
		</form>
	</body>
</html>
