<!DOCTYPE html>
<html>
	<title>
		{{ playlist.title }} Playlist
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt;
			<a
				href="/playlists"
			>
				Playlists
			</a>
			&gt; {{ playlist.title }}
		</header>

		<h1>
			{{ playlist.title }}
		</h1>

		<a
			href="https://open.spotify.com/playlist/{{ playlist.uri }}"
			target="_blank"
		>
			Open In Spotify
		</a>

		<h2>
			<a
				href="/playlists/{{ playlist.id }}/sets"
			>
				Sets
			</a>
		</h2>
		<table>
			<tr>
				<td>
					<a
						href="/playlists/{{ playlist.id }}/sets/new"
					>
						+ New Set
					</a>
				</td>
			</tr>
			{% for playlist_set in playlist_sets %}
				<tr>
					<td>
						<a
							href="/playlists/{{ playlist.id }}/sets/{{ playlist_set.id }}"
						>
							{{ playlist_set.name }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>

		<h2>
			<a
				href="/playlists/{{ playlist.id }}/songs"
			>
				Songs
			</a>
		</h2>

		<table>
			{% for song in playlist.songs %}
				{% set index=loop.index %}
				{% include "playlists/playlist/_song.j2" with context %}
			{% endfor %}
		</table>

	</body>
</html>

{% include("player.j2") %}

<script>
	{% include "playlists/playlist/index.js" with context %}
</script>
