<!DOCTYPE html>
<html>
	<title>
		Play {{ round.name }}
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt;
			<a
				href="/events"
			>
				Events
			</a>
			&gt;
			<a
				href="/events/{{ round.event.id }}"
			>
				{{ round.event.name }}
			</a>
			&gt;
			<a
				href="/events/{{ round.event.id }}/rounds"
			>
				Rounds
			</a>
			&gt;
			<a
				href="/events/{{ round.event.id }}/rounds/{{ round.event.id }}"
			>
				{{ round.name }}
			</a>
			&gt; Play
		</header>

		<h1>
			Play {{ round.name }}
		</h1>

		<table>
			<tr>
				<td>
					Playlist Set
				</td>
				<td>
					<a
						href="/playlists/{{ round.playlist_set.playlist.id }}/sets/{{ round.playlist_set.id }}"
					>
						{{ round.playlist_set.name }}
					</a>
				</td>
			</tr>
			<tr>
				<td>
					Size
				</td>
				<td>
					{{ round.size }}
				</td>
			</tr>
			<tr>
				<td>
					Started
				</td>
				<td>
					{{ round.start }}
				</td>
			</tr>
			<tr>
				<td>
					Ended
				</td>
				<td>
					{{ round.ended }}
				</td>
			</tr>
		</table>

		<h2>
			<a
				href="/events/{{ round.event.id }}/rounds/{{ round.id }}/cards"
			>
				Cards ({{ round.cards | length }})
			</a>
		</h2>

		<table>
			<tr>
				{# TODO: make scrollable #}
				<td
					style="vertical-align: top;"
					width="50%"
				>
				<div style="overflow-y: scroll;">
					<h2>
						Upcoming
					</h2>

					<table
						id="unplayed_songs-table"
					>
						{% for set_song in round.playlist_set.set_songs %}
							{% if set_song not in round.played_set_songs %}
								{% set index=loop.index %}
								{% include "events/event/rounds/round/play/_unplayed_song.j2" with context %}
							{% endif %}
						{% endfor %}
					</table>
				</div>
				</td>

				<td
					style="vertical-align: top;"
					width="50%"
				>
					<h2>
						Played
					</h2>
					<table
						id="played_songs-table"
					>
						{% for set_song in round.played_set_songs %}
							{% set index=loop.index %}
							{% include "events/event/rounds/round/play/_played_song.j2" with context %}
						{% endfor %}
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>

{% include("player.j2") %}

<script>
	function play_random()
	{

	}


	async function play_next(set_song_id, duration)
	{
		if(PLAYER.playing !== null)
		{
			await PLAYER.player.pause();
			PLAYER.clear_timer();
		}
		PLAYER.timer = new Timer(PLAYER, duration);

		let request = new Request(
			`/api/rounds/{{ round.id }}/play_next`,
			{
				method: `POST`,
				headers: {"Content-Type": "application/json"},
				body: JSON.stringify({player_id: PLAYER.id, set_song_id})
			}
		)

		let response;
		try
		{
			response = await fetch(request);
			if(response.status != 200)
			{
				return alert(`${response.status}`+response.body);
			}
		}
		catch(error)
		{
			console.error(error);
			alert(error);
		}

		document.getElementById(`unplayed_song_${set_song_id}-tr`).remove();

		// remove from left hand side
		// add to right hand side
	}
</script>
