{% from "playlists/playlist/sets/song.j2" import render_set_song %}

<!DOCTYPE html>
<html>
	<title>
		{{ playlist_set.name }} Set
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt;
			<a
				href="/playlists"
			>
				Playlists
			</a>
			&gt;
			<a
				href="/playlists/{{ playlist_set.playlist.id }}"
			>
				{{ playlist_set.playlist.name }}
			</a>
			&gt;
			<a
				href="/playlists/{{ playlist_set.playlist.id }}/sets"
			>
				Sets
			</a>
			&gt; {{ playlist_set.name }}
		</header>

		<h1>
			'{{ playlist_set.playlist.name }}' {{ playlist_set.name }} Set
		</h1>

		<a
			href="https://open.spotify.com/playlist/{{ playlist_set.playlist.uri }}"
			target="_blank"
		>
			Open In Spotify
		</a>

		<table>
			{% for song in playlist_set.songs %}
				{{ render_set_song(loop.index, song) }}
			{% endfor %}
		</table>

		<form
			method="POST"
			action="/playlists/{{ playlist_set.playlist.id }}"
		>
			<input
				id="number_of_boards-input"
				name="number_of_boards-input"
				type="number"
				value="1"
				min="1"
			/>
			<button
				onclick=""
			>
				Create Boards
			</button>
		</form>
	</body>
</html>

{% include("player.j2") %}

<script>
	function get_start_and_play_song(button, uri)
	{
		var play_buttons = document.getElementsByClassName("play-button");
		for(var x = 0; x < play_buttons.length; x++)
		{
			let play_button = play_buttons[x];;
			play_button.innerHTML = "Play";
			let button_id = play_button.id.match(/play_([a-zA-Z0-9]{22})-button/)[1];
			play_button.onclick = () => get_start_and_play_song(play_button, button_id);
		}

		button.innerHTML = "Pause";
		button.onclick = () => update_button_and_pause(button, uri);


		let start = document.getElementById(`song_start-${uri}-input`).value;
		let action = function()
		{
			button.onclick = () => get_start_and_play_song(button, uri);
			button.innerHTML = "Play";
		};
		let timer = new Timer(PLAYER, document.getElementById(`song_duration-${uri}-input`).value, action);

		PLAYER.play_song(uri, start, timer);
	}


	function update_button_and_pause(button, uri)
	{
		button.onclick = () => get_start_and_play_song(button, uri);
		button.innerHTML = "Play";

		PLAYER.pause();
	}


	function save(id, uri)
	{
		let playlist_id = window.location.pathname.split("/")[2];

		let start = document.getElementById(`song_start-${uri}-input`).value;
		let duration = document.getElementById(`song_duration-${uri}-input`).value;

		let xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", `/api/song/save`, false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send(JSON.stringify({playlist_id, song_id: id, start, duration}));

		if(xmlhttp.status != 204)
		{
			return alert(`${xmlhttp.status}`+xmlhttp.responseText);
		}
	}
</script>
