<!DOCTYPE html>
<html>
	<title>
		{{ playlist_set.name }} Set
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt;
			<a
				href="/playlists"
			>
				Playlists
			</a>
			&gt;
			<a
				href="/playlists/{{ playlist_set.playlist.id }}"
			>
				{{ playlist_set.playlist.title }}
			</a>
			&gt;
			<a
				href="/playlists/{{ playlist_set.playlist.id }}/sets"
			>
				Sets
			</a>
			&gt; {{ playlist_set.name }}
		</header>

		<h1>
			'{{ playlist_set.playlist.title }}' {{ playlist_set.name }} Set
		</h1>

		<a
			href="https://open.spotify.com/playlist/{{ playlist_set.playlist.uri }}"
			target="_blank"
		>
			Open In Spotify
		</a>

		<table>
			{% for set_song in playlist_set.set_songs %}
				{% set index=loop.index %}
				{% include "playlists/playlist/sets/_song.j2" with context %}
			{% endfor %}
		</table>

		<form
			method="POST"
			action="/playlists/{{ playlist_set.playlist.id }}"
		>
			<input
				id="number_of_boards-input"
				name="number_of_boards-input"
				type="number"
				value="1"
				min="1"
			/>
			<button
				onclick=""
			>
				Create Boards
			</button>
		</form>
	</body>
</html>

{% include("player.j2") %}

<script>
	async function get_start_and_play_song(button, id)
	{
		button.disabled = true;

		let on_play = () =>
		{
			button.innerHTML = "Pause";
			button.onclick = async () => await PLAYER.pause();
			button.disabled = false;
		}

		let on_pause = () =>
		{
			button.innerHTML = "Play";
			button.onclick = async () => get_start_and_play_song(button, id);
		}

		let start = document.getElementById(`song_start-${id}-input`).value;
		let duration = document.getElementById(`song_duration-${id}-input`).value;
		try
		{
			await PLAYER.play_set_song(id, on_play, on_pause, start, duration);
		}
		catch(error)
		{
			alert(error);
		}
	}


	async function update_set_song_start_and_duration(id, id)
	{
		let playlist_id = window.location.pathname.split("/")[2];

		let start = document.getElementById(`song_start-${id}-input`).value;
		let duration = document.getElementById(`song_duration-${id}-input`).value;

		try
		{
			let response = await fetch(
				`/api/set_song/update_start_and_duration`,
				{
					method: `POST`,
					headers: {"Content-Type": "application/json"},
					body: JSON.stringify({playlist_id, set_song_id: id, start, duration})
				}
			);
			if(response.status != 204)
			{
				return alert(`${response.status}`+response.body);
			}
		}
		catch(error)
		{
			console.error(error);
			alert(error);
		}
	}
</script>
