<!DOCTYPE html>
<html>
	<title>
		{{ playlist_set.name }} Set
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt;
			<a
				href="/playlists"
			>
				Playlists
			</a>
			&gt;
			<a
				href="/playlists/{{ playlist_set.playlist.id }}"
			>
				{{ playlist_set.playlist.title }}
			</a>
			&gt;
			<a
				href="/playlists/{{ playlist_set.playlist.id }}/sets"
			>
				Sets
			</a>
			&gt; {{ playlist_set.name }}
		</header>

		<h1>
			'{{ playlist_set.playlist.title }}' {{ playlist_set.name }} Set
		</h1>

		<a
			href="https://open.spotify.com/playlist/{{ playlist_set.playlist.uri }}"
			target="_blank"
		>
			Open In Spotify
		</a>

		<table>
			{% for set_song in playlist_set.set_songs %}
				{% set index=loop.index %}
				{% include "playlists/playlist/sets/_song.j2" with context %}
			{% endfor %}
		</table>

		<form
			method="POST"
			action="/playlists/{{ playlist_set.playlist.id }}"
		>
			<input
				id="number_of_boards-input"
				name="number_of_boards-input"
				type="number"
				value="1"
				min="1"
			/>
			<button
				onclick=""
			>
				Create Boards
			</button>
		</form>
	</body>
</html>

{% include("player.j2") %}

<script>
	async function get_start_and_play_song(button, uri)
	{
		var play_buttons = document.getElementsByClassName("play-button");
		for(var x = 0; x < play_buttons.length; x++)
		{
			let play_button = play_buttons[x];;
			play_button.innerHTML = "Play";
			let button_id = play_button.id.match(/play_([a-zA-Z0-9]{22})-button/)[1];
			play_button.onclick = () => get_start_and_play_song(play_button, button_id);
		}

		button.innerHTML = "Pause";
		button.onclick = async () => update_button_and_pause(button, uri);


		let start = document.getElementById(`song_start-${uri}-input`).value;
		let action = function()
		{
			button.onclick = () => get_start_and_play_song(button, uri);
			button.innerHTML = "Play";
		};
		let timer = new Timer(PLAYER, document.getElementById(`song_duration-${uri}-input`).value, action);

		await PLAYER.play_song(uri, start, timer);
	}


	async function update_button_and_pause(button, uri)
	{
		button.onclick = async () => get_start_and_play_song(button, uri);
		button.innerHTML = "Play";

		await PLAYER.pause();
	}


	async function save(id, uri)
	{
		let playlist_id = window.location.pathname.split("/")[2];

		let start = document.getElementById(`song_start-${uri}-input`).value;
		let duration = document.getElementById(`song_duration-${uri}-input`).value;

		let request = new Request(
			`/api/set_song/save`,
			{
				method: `POST`,
				headers: {"Content-Type": "application/json"},
				body: JSON.stringify({playlist_id, set_song_id: id, start, duration})
			}
		)

		try
		{
			let response = await fetch(request);
			if(response.status != 204)
			{
				return alert(`${response.status}`+response.body);
			}
		}
		catch(error)
		{
			console.error(error);
			alert(error);
		}
	}
</script>
