<!DOCTYPE html>
<html>
	<head>
		<title>Trinkgo</title>
	</head>
	<body>
		<h1>New Playlist</h1>
		<form
			method="POST"
		>
			Playlist Link
			<input
				id="playlist_link-input"
				name="playlist_link-input"
				placeholder="https://open.spotify.com/playlist/49PAThhKRCCTXeydvq9uAp"
				value="https://open.spotify.com/playlist/49PAThhKRCCTXeydvq9uAp"
			/>
			<button>
				Compile
			</button>
		</form>
	</body>
</html>
