{% from "playlists/song.j2" import render_song %}

<!DOCTYPE html>
<html>
	<title>
		{{ playlist.name }} Playlist
	</title>
	<body>


		<a
			href="https://open.spotify.com/track/{{ playlist.id }}"
		>
			Open In Spotify
		</a>

		<table>
			{% for song in playlist.songs %}
				{{ render_song(loop.index, song) }}
			{% endfor %}
		</table>
	</body>
</html>

{% include("player.j2") %}

<script>
	function get_start_and_play_song(button, id)
	{
		var play_buttons = document.getElementsByClassName("play-button");
		for(var x = 0; x < play_buttons.length; x++)
		{
			let play_button = play_buttons[x];;
			play_button.innerHTML = "Play";
			let button_id = play_button.id.match(/play_([a-zA-Z0-9]{22})-button/)[1];
			play_button.onclick = () => get_start_and_play_song(play_button, button_id);
		}

		button.innerHTML = "Pause";
		button.onclick = () => update_button_and_pause(button, id);


		let start = document.getElementById(`song_start-${id}-input`).value;
		let action = function()
		{
			button.onclick = () => get_start_and_play_song(button, id);
			button.innerHTML = "Play";
		};
		let timer = new Timer(PLAYER, document.getElementById(`song_duration-${id}-input`).value, action);

		PLAYER.play_song(id, start, timer);
	}


	function update_button_and_pause(button, id)
	{
		button.onclick = () => get_start_and_play_song(button, id);
		button.innerHTML = "Play";

		PLAYER.pause();
	}


	function save(id)
	{
		let playlist_id = window.location.pathname.split("/")[2];

		let start = document.getElementById(`song_start-${id}-input`).value;
		let duration = document.getElementById(`song_duration-${id}-input`).value;

		let xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", `/api/song/save`, false);
		xmlhttp.setRequestHeader("Content-Type", "application/json");
		xmlhttp.send(JSON.stringify({playlist_id, song_id: id, start, duration}));

		if(xmlhttp.status != 204)
		{
			return alert(`${xmlhttp.status}`+xmlhttp.responseText);
		}
	}

</script>