<tr>
	<td>
		{{ index }}
	</td>
	<td>
		<img
			src="{{ song.artwork }}"
		>
	</td>
	<td>
		<b>
			{{ song.title }}
		</b>
		<br/>
		{{ song.artists }}
		<br/>
		{{ song.released }}
		&emsp;
		{{ song.album }}
	</td>
	<td>
		<button
			id="play_{{ song.id }}-button"
			onclick="get_start_and_play_song(this, `{{ song.id }}`)"
		>
			Play
		</button>
	</td>
</tr>
