<!DOCTYPE html>
<html>
	<title>
		{{ playlist.title }} Playlist
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt;
			<a
				href="/playlists"
			>
				Playlists
			</a>
			&gt;
			<a
				href="/playlists/{{ playlist.id }}"
			>
				{{ playlist.title }}
			</a>
			&gt; Songs
		</header>

		<h1>
			{{ playlist.title }}
		</h1>

		<a
			href="https://open.spotify.com/playlist/{{ playlist.uri }}"
			target="_blank"
		>
			Open In Spotify
		</a>

		<table>
			{% for playlist_set in playlist_sets %}
				<tr>
					<td>
						<a
							href="/playlists/{{ playlist.id }}/sets/{{ playlist_set.id }}"
						>
							{{ playlist_set.name }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>

		<h2>
			Songs
		</h2>
		<table>
			{% for song in playlist.songs %}
				{% set index=loop.index %}
				{% include "playlists/playlist/_song.j2" with context %}
			{% endfor %}
		</table>
	</body>
</html>

{% include("player.j2") %}

<script>
	async function set_button_and_play_song(button, id)
	{
		button.disabled = true;

		let on_play = () =>
		{
			button.innerHTML = "Pause";
			button.onclick = async () => await PLAYER.pause();
			button.disabled = false;
		}

		let on_pause = () =>
		{
			button.innerHTML = "Play";
			button.onclick = async () => get_start_and_play_song(button, id);
		}

		try
		{
			await PLAYER.play_song(id, on_play, on_pause);
		}
		catch(error)
		{
			alert(error);
		}
	}
</script>
