<!DOCTYPE html>
<html>
	<title>
		{{ round.event.name }} - {{ round.name }} - Cards
	</title>

	<body>
		<header>
			<a
				href="/"
			>
				⌂
			</a>
			&gt;
			<a
				href="/events"
			>
				Events
			</a>
			&gt;
			<a
				href="/events/{{ round.event.id }}"
			>
				{{ round.event.name }}
			</a>
			&gt;
			<a
				href="/events/{{ round.event.id }}/rounds"
			>
				Rounds
			</a>
			&gt;
			<a
				href="/events/{{ round.event.id }}/rounds/{{ round.id }}"
			>
				{{ round.name }}
			</a>
			&gt; Cards
		</header>

		<h1>
			{{ round.event.name }} ({{ round.event.date }}) - {{ round.name }} - Cards
		</h1>

		<table>
			<tr>
				<td>
					Size
				</td>
				<td>
					{{ round.size }}
				</td>
			</tr>
		</table>

		<h2>
			Cards
		</h2>

		<table>
			<tr>
				<td>
					<form
						method="POST"
						action="/events/{{ round.event.id }}/rounds/{{ round.id }}/cards/new"
					>
						<input
							name="number_of_cards-input"
							type="number"
							min="1"
						/>
						<button>
							+ Create Cards
						</button>
					</form>
				</td>
			</tr>
			{% for card in round.cards %}
				<tr>
					<td>
						<a
							href="/events/{{ round.event.id }}/rounds/{{ round.id }}/cards/{{ card.id }}"
						>
							{{ card.identifier }}
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
	</body>
</html>
